@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #0e0e0e;
    --sb-size: 12px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 1px solid #ffffff;
  }

  .custom-background {
    position: relative;
    overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
}

.custom-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/sisifo-background.webp'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: brightness(7%) blur(4px); /* Ajusta estos valores según tus preferencias */
    opacity: 0.8; /* Ajusta la opacidad según tus preferencias */
}

  